# Verify source provenance using gittuf
# Based on https://github.com/gittuf/gittuf/blob/main/.github/workflows/gittuf-verify.yml

name: gittuf Verification

on:
  push:
    branches: [main]

permissions: read-all

jobs:
  gittuf-verify:
    if: github.repository == 'colinmcintosh/static-tools'
    runs-on: ubuntu-latest
    steps:
      - name: Install gittuf
        uses: gittuf/gittuf-installer@3408aeb2a325ce88ff482b3b964322cd9d6bea22 # v0.10.0

      - name: Checkout and verify repository
        run: |
          sleep 10s
          gittuf clone https://github.com/${{ github.repository }}
          cd static-tools
          gittuf verify-ref main --verbose
